node_modules/
dist/
coverage/
.env
.env.*
!.env.example
*.log
pnpm-debug.log*
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# Seed files - personal seed data should not be committed
**/seeds/personal.ts
**/seeds/personal.js
**/*.personal.ts
**/*.personal.js

**/test-results
apps/web/playwright-report/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
